{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Create new Reservation</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('reservation_index') }}" class="btn btn-primary d-block mx-auto mt-3 w-25">back to list</a>
</div>
{% endblock %}
